[2016-06-28 15:10] jboz62 commented on #264
Here’s an example of a bad link on Google: http://www.newenglandsoundproofing.com/product_catalog <http://www.newenglandsoundproofing.com/product_catalog>

[2016-06-28 15:13] jboz62 commented on #264
The site seems to be getting picked up on Google, there’s a mix of old links and some new ones…most are new. I searched for "new england sound proofing Easton MA”

[2016-06-28 17:37] KathJohnson commented on #264
I demoted several links in Google WMT to avoid having them show up. John B says he will turn off the debugger for this site (so anyone stumbling onto bad links gets a regualr 404 page instead of the scary-looking debugger page), and I will watch for a couple of days to see if G-A traffic goes up after demoting the pages.

I think there is an issue with this site of the old page structure being at

[2016-06-28 17:40] acavanagh commented on #264
if the traffic on the server is different than the traffic reported by
google then it might really be that the old code is under-reporting.
Should also make sure that it's really on every page, although I think they
all use the same template so it should be.  Lastly, that debug stuff should
definitely be of as soon as possible on ALL the sites.  It's a minor,
though real, security risk.

On Tue, J

[2016-06-28 18:22] KathJohnson opened #266 "LAUNCHED SITES: Turn off debugger"
@jboz62 Can you tell me how to turn off the debugger for the launched sites? This is probably something I could do, with direction. If not, I will add requesting of debugger disabling to my launch checklist.

A site to start use for instruction could be newenglandsoundproofing.com

[2016-06-28 18:32] meetinghouse commented on #264
I created a separate GitHub issue for the turning off of the debugger. It
is probably somethign I could manage if I have some direction on how to do
it.

[2016-06-28 18:32] jboz62 commented on #266
It's not difficult, but it should be committed on a branch and merged to blog. The file is in app/config/app.php - line 16 change to 'false': 'debug' => false,

If you have trouble with it let me know and I'll send it, just a bit buried today.

[2016-06-29 05:32] 1sp commented on #263
Lets do it today?

[2016-06-29 13:41] jboz62 commented on #263
@KathJohnson Did you get Sudhir's message about working on adding the logger today? Is this still needed after the fixes you and Andrew did?

[2016-06-29 15:32] meetinghouse commented on #263
Sudhir! So glad to see you back on your feet!

Andy made some changes (I am not completely sure what) and I refreshed the
site token for all the sites. The problem doesn't seem to be occurring now,
but he did agree with you that it might be a bug in Forge. So for the
moment, we can keep an eye on the Recent Events log. I haven't seen any
unexpected deployments for about a week, but I will check th

[2016-06-29 16:08] KathJohnson commented on #264
Whaaaaat??! I updated the UA code for New England Soundproofing on June 7th. I did a check of several pages to see if they all had the code applied, and found that only the homepage had it applied.

Aha! I thought. So I went into the interface and looked at the Google tracking code, thinking to update it again there and then see if would then go to all the pages of the site. ODDLY, the field in th

[2016-06-29 16:11] KathJohnson commented on #264
I'm going to backburner this for now, and I can check back in after the holiday. Assuming the UA code doesn't get removed from any pages, I suppose that Steve's numbers will start showing as expected on his reports.

[2016-06-29 17:01] meetinghouse commented on #266
This is not an urgent issue for today, so we can circle back to it. This
would turn off the debugger for all sites that had the current code base
deployed to them, correct? I'd like to be able to keep it turned on for
test sites. Is there an easy way to simply turn it off when a site is
launched live? I propose that with the understanding that the debugger is
actually useful for resolving problems

[2016-06-29 17:05] KathJohnson commented on #263
I am closing this issue now. Thanks.

[2016-06-29 17:05] #263 closed

[2016-06-30 21:59] jboz62 commented on #266
Not sure if this still needs answering, but it would turn off the debugger for whatever site you deploy the change to. I think if someone needs to test something on a site, they could just change it temporarily via FTP and then change it back when they finish. I don’t think it needs to be on for all of the sites, test sites is probably ok, like you mentioned.

Best,
John
--
John Bozaan
Bozaan Desi

[2016-07-05 16:33] KathJohnson commented on #243
Hello. Now that the deployment problem seems to be worked out, I deployed the new code to the two sites who were immediately requesting it (heirloomwindows and weatherstrippingkit) and the left nav is successfully suppressed on portfolio pages as well. The only thing stopping me from marking this as closed is that I haven't tested it for dark theme. Will do once menu management for dark theme has

[2016-07-05 16:38] KathJohnson commented on #221
There are some outstanding items related to this issue, but I think they need to be addressed separately and reference this issue as needed. So I am closing this one in order to create a bit of order in the Git Hub issues list.

[2016-07-05 16:38] #221 closed

[2016-07-05 16:39] KathJohnson commented on #260
The deployment issue appears to have been solved, but we are keeping an eye on recent server events for any unexpected deployments.

[2016-07-05 16:39] #260 closed

[2016-07-05 16:42] jboz62 commented on #243
Thanks, Katherine. I think menu management is basically sorted out, except, it seems there is custom coding on the S+H site that needs to be accounted for. Has Sudhir looked into that yet? We need to know what, if any, differences there are between what’s on the blog and what’s on S+H. Once we determine that, we can have him allow for the “builder’s notebook” type functionality to be in the base c

[2016-07-05 16:47] KathJohnson opened #267 "BOTH THEMES: Menu management to include blog function"
@1sp This is related to closed issues #221 and #260. The menu management piece is working for the light theme (with a couple additional items that are tracked in issues #252 and #244).

I am opening this issue because it is necessary in order to make the codebase safe to push to all sites -- both dark and light theme. Currently, I am unable to push current code to the S+H website (or any future si

[2016-07-05 17:14] 1sp commented on #267
@KathJohnson Let me check the menu management on dark theme and update here accordingly..

For the new process, It would be good idea to proceed with it as we are going to deploy a feature/enhancement. We can adopt the semantic versioned tagged releases right away. I can also start working on the db backup script. I would suggest that we track it in a separate ticket.

[2016-07-05 17:16] KathJohnson commented on #175
This issue is no longer current.

[2016-07-05 17:16] #175 closed

[2016-07-05 17:29] KathJohnson commented on #103
This issue has been resolved elsewhere. Closing.

[2016-07-05 17:29] #103 closed

[2016-07-05 17:29] KathJohnson commented on #107
This was discussed in the menu management issues in April 2016, and this issue is no longer needed. Closing.

[2016-07-05 17:29] #107 closed

[2016-07-05 17:31] KathJohnson commented on #114
This is being done for the moment with CSS on a site-by-site basis. That seems to work fine, so I am closing this issue.

[2016-07-05 17:31] #114 closed

[2016-07-05 17:33] KathJohnson commented on #133
Such a low priority at this point as to be irrelevant. Closing issue.

[2016-07-05 17:33] #133 closed

[2016-07-05 17:35] KathJohnson commented on #166
This client request was resolved through adding menu management and the ability to add custom pages. Closing.

[2016-07-05 17:35] #166 closed

[2016-07-05 17:37] KathJohnson commented on #183
This was resolved. Closing.

[2016-07-05 17:37] #183 closed

[2016-07-05 18:10] KathJohnson opened #268 "BOTH THEMES: Add db backup to deploy script"
As part of the new change process, each site getting deployed should have a db backup written into the deploy code. @1sp can you write this for one of the sites, and paste an example in this issue? I can then implement it on all sites.

It would be ideal to put a rollback process in place at the same time so in case these backup copies are needed they can be accessed.

[2016-07-05 18:11] meetinghouse commented on #267
Thanks. I've created Issue #268 for the back up script.

[2016-07-05 18:13] meetinghouse commented on #243
Excellent. Just so all are on the same page, I created Issue #267 to track
the developing menu management functionality in dark theme, so any other
comments/suggestions could probably go there.

[2016-07-05 18:24] KathJohnson commented on #265
@jboz62 I spoke to John C. about this and we both think that FTP-ing the change is good for now. I want to keep this issue open, though, because after the menu piece is sorted out for dark theme, it only makes sense to merge this into the blog branch.

[2016-07-06 16:39] KathJohnson opened #269 "New Site: shlandscaping"
@1sp S+H would like a second site, just like the first in structure, but with different content, of course. Normally, I'd just deploy a new staging site and set it to dark theme. But since the current code base doesn't match what's on S+H, the structure would be different.

Do you know of a way to copy the code and also content of a site wholesale? Then we could go in and wipe out most of the cont

[2016-07-07 16:30] 1sp commented on #269
@KAthJohnson I believe if you copy the site's folder and save it with a
different name (and map copied folder to a domain) it would be equivalent
to duplicating a site 's code and its content.

On Wed, Jul 6, 2016 at 10:09 PM, KathJohnson <notifications@github.com>
wrote:

--
Sudhir Porwal

[2016-07-12 16:21] KathJohnson commented on #188
This was resolved with a later change, so I am closing.

[2016-07-12 16:21] #188 closed

[2016-07-13 16:22] KathJohnson opened #270 "BOTH THEMES: Add custom.js file"
@1sp - Can you please add a custom.js file and then add it to the gitigore file so custom javascript can be added to individual sites and have it not get overwritten upon deploy? Thanks.

[2016-07-13 17:35] 1sp commented on #270
@KathJohnson I can add a link to "assets/js/custom.js" in main.blade.php and add "assets/js/custom.js" in .gitignore . Is this what you want?

(Actual creation of the "assets/js/custom.js" on each site would be done manually ?)

[2016-07-13 17:44] KathJohnson commented on #270
I think that will be fine. @jboz62, does that work for you?

Let's particularly be sure to add it to the site example1. That is the site that gets the content copied for any new site I launch, so then at least any new sites will have it already, without having to be manually added. Thanks.

[2016-07-13 17:59] 1sp commented on #270
I just merged changes into meetinghouse:blog (https://github.com/meetinghouse/cms/pull/271)

[2016-07-13 18:04] meetinghouse commented on #270
Great! John, is that what you need?

[2016-07-13 18:10] KathJohnson commented on #269
@jboz62 I can launch a new the staging site shlandscaping.corbettresearchgroup.com.

Do you know how to do what Sudhir has described above to get the content and code copied over from the existing sh site? I imagine we would have to delete the folder that gets created by creating the site at all, then replace it with a copy of the sh site's folder, and then map it to the new domain. Is that right?

[2016-07-13 18:35] KathJohnson commented on #253
Let's do this.

Also, it seems we should upgrade the ckeditor to the new version.

[2016-07-13 18:45] jboz62 commented on #253
@1sp Sudhir, did you get that update, Katherine wants to go ahead with the contact form setup for: http://www.newenglandsoundproofing.com/contact

@KathJohnson On the ckeditor, we should discuss this as you need to do a custom build of the features you want in the editor, e.g. Styles Dropdown, Image Captions, etc. If you go to this URL: http://ckeditor.com/download you will see they have 3 package

[2016-07-13 18:47] jboz62 commented on #253
@KathJohnson I guess that contact form setup is for all the sites, not just NES, correct?

[2016-07-13 21:05] jboz62 commented on #270
Yes, perfect! I’ll add that script once we deploy to NES. Is it safe to do that? Looks like you tried on the 5th and it failed.

[2016-07-13 21:09] jboz62 commented on #270
I just ran the deploy, looks good. I'll upload the script.

[2016-07-14 23:37] jboz62 commented on #269
Sorry, missed this email. It’s not too difficult, you really just need to clone/make a copy of the whole directory of the S+H site, then rename it to shlandscaping.corbettresearchgroup.com. Then point/map the domain to that new directory. I can clone the site for you, if that helps.

[2016-07-14 23:38] jboz62 commented on #270
@KathJohnson This script has been added, Katherine, please alert Steve to make sure everything is working right.

[2016-07-15 12:34] jboz62 commented on #269
@KathJohnson Katherine, I copied the S+H directory to a new directory called shlandscaping.corbettresearchgroup.com. Please map the domain to that directory and let's see if everything is working ok. Thank you.

[2016-07-18 15:37] meetinghouse commented on #253
As an option, yes. That is possible, right? The contact form wouldn't exist
automatically already, but could be added.

[2016-07-18 16:38] meetinghouse commented on #270
Thank you! I've contacted Steve and we'll see what his testing turns up.

[2016-07-18 17:42] meetinghouse commented on #269
I haven't actually created the site through Forge yet. So I can do that,
but I am required to install a repository. That will overwrite the
directory, I think, with something that doesn't work for dark theme. Can
you re-copy the directory after I deploy? I'll hold off creating the sample
site until I hear from you.

[2016-07-18 17:54] meetinghouse commented on #253
That sounds good.

[2016-07-18 19:04] jboz62 commented on #269
Sure, I can do that, but I’m not sure what the outcome would be. Might be good to get Sudhir’s input on this.

[2016-07-19 16:23] KathJohnson commented on #267
@1sp - Hi. Do you have any thoughts on how to make the menu management piece work for the dark theme? Doing so would heal the rift between the current code base and the dark theme site (of which we will soon have two).

If you'd like to chat about this at a more convenient time for you, I can be available tonight (my time), which I believe is morning your time. Perhaps about 9am for you tomorrow (

[2016-08-24 18:40] KathJohnson commented on #253
For the moment, we have set NES up with a form that live on Jotform.com.

We have a free account there. It allows only up to 100 submissions per month (in other words, 100 e-mails), so this is probably not a good long term solution. It is a stopgap for now until we can program the ability to embed a simple pre-built contact form as described above.

[2016-08-24 19:03] KathJohnson commented on #269
This site is up and running. There will probably be some further changes coming down the line that will need decision-making as far as custom ftp changes vs. programming changes to keep it under version control. But for the moment, shlandscaping.corbettresearchgroup.com exists and seems to work and has some css customization already applied by John Bozaan.

[2016-08-24 19:03] #269 closed

[2016-09-09 16:19] #270 closed

[2016-09-09 16:29] jboz62 commented on #267
As per our discussion in the last meeting, the blog functionality with the dynamic menu needs to be added to both themes:
- We need the ability to name the blog to whatever is needed on the menu item (e.g. Builder's Notebook).
- We need the blog to be enabled/disabled via the admin settings.
- Dark theme will have sub-menu items (see the S+H site for example).
- Light theme will utilize a drop-dow

[2016-09-09 16:30] #266 closed

[2016-09-09 16:49] jboz62 commented on #262
There are a couple nice solutions for this out there, but both would require we either take the code further out of version control, or do this after we fix the menu/blog issue and deploy to S+H.

This might be a good solution for this: http://jedfoster.com/Readmore.js/
Here's another that would work for this: https://codepen.io/maxds/pen/jgeoA/

[2016-09-09 16:50] jboz62 commented on #253
If Steve wants the CAPTCHA on this contact form, that's available in the settings on JotForm, it can be enabled.

[2016-09-23 19:57] jboz62 commented on #241
@vivek-chaudhari Vivek, this is the next issue after we get the menu setup working. We need to see if we can make the blog posts sortable.

@meetinghouse  John/Erica, how do we want these to be sorted, are you just interested in changing whether it's ASC or DESC or do you want more of a drag and drop kind of interface?

Thanks,
John

[2016-09-23 20:04] jboz62 commented on #261
@vivek-chaudhari Vivek, while you're working on the menu for the Blog change, can you think about this issue and let me know what you think? We need the "home" button to always have the title "home" no matter what the user titles the home page. Please review my description for the details on Github.

Thanks,
John

[2016-09-24 11:08] vivek-chaudhari commented on #261
@jboz62 I don't think so we need to change current way of displaying menu. If flashes is the issue for http://heirloomwindows.corbettresearchgroup.com/, we can do one thing, we can provide checkbox on create/edit page namely "Hide title from page" , if it is checked then systen will hide it otherwise will display title.

[2016-09-24 14:21] jboz62 commented on #261
That sounds like a great idea, Vivek. Would that hide all page titles or just on the homepage?

--
John Bozaan
Bozaan Design
413-437-0097

[2016-09-25 12:20] vivek-chaudhari commented on #261
@jboz62 Each page have this configuration option, by default it is unchecked and showing title and if we checked it, will not show title for respected page.

[2016-09-27 20:47] jboz62 commented on #241
Closing issue #241

[2016-09-27 20:47] #241 closed

[2016-09-27 20:58] jboz62 commented on #261
@meetinghouse John, please review Vivek's plan for this issue. His suggestion is to "Provide a checkbox on the create/edit page, namely "Hide title from page", if it is checked, then system will hide title, otherwise it will display the title. Each page [would] have this configuration option, by default it is unchecked and showing title and if we checked it, it will not show title for respective p

[2016-09-27 21:14] jboz62 commented on #253
@meetinghouse John C., I changed the title of this issue and the labels to better reflect the direction on this issue. There are comments on this thread from Sudhir on the direction using tokens/shortcodes as a way to insert a form into the contact page.

I've also added a new label called **"Enhancement for Client"** to use for items like this that are special requests. This would improve the bas

[2016-09-27 21:21] jboz62 commented on #167
Closing issue #167, already completed in issue #267.

[2016-09-27 21:21] #167 closed

[2016-09-28 02:03] jboz62 opened #275 "Replace Existing CKEditor with New Version."
We have been working on a new updated version of CKEditor with more features, currently installed on http://testdeploy.corbettresearchgroup.com/ pending approval for inclusion into the base code. If any further features are required, please let me know and I will add them before we do a commit on this.

John B.

[2016-09-28 05:39] vivek-chaudhari commented on #261
@jboz62 John, are you talking about pre-populate "Home" into the title when we are on '/pages/create' page or when we seed page into database using seeder?

[2016-09-28 05:54] vivek-chaudhari commented on #253
@jboz62 John, it is not easy to provide shortcode functionality as per sudhir's suggestion, because when we add it into editor, editor will adds its own html characters around shortcode so it will be difficult to get exact token/shortcode from contents.

[2016-09-28 13:03] jboz62 commented on #213
This seems to only be an issue on this site, so let's deploy the latest code on here and that should fix whatever the issue is.

[2016-09-28 13:09] jboz62 commented on #253
Vivek, we can edit the config file to allow the tokens. I did that to allow script tags and other css. You can edit the config file to allow for that, also. There are plugins that will allow for tokens too: http://ckeditor.com/addon/token <http://ckeditor.com/addon/token>

[2016-09-28 13:13] jboz62 commented on #261
Yes, but only for the home page. It would probably have to be a “read-only” field on the homepage so it’s not editable. I’m not sure what "when we seed page into database using seeder” means.

[2016-09-28 13:27] jboz62 commented on #253
@vivek-chaudhari  Vivek, here's the original placeholder/token plugin: http://ckeditor.com/addon/placeholder Not sure which is better.

I'm working on a new version of CKEditor here: http://testdeploy.corbettresearchgroup.com/login We're adding a lot of new functionality, let me know if you have any ideas. This has not been added to the repo or any other sites. I added it directly and will remove

[2016-09-28 13:28] vivek-chaudhari commented on #261
When we run database seeder on fresh installation of CMS, we can provide home page title as "Home" and make sure that it is read only when we visit this page in edit mode.

[2016-09-28 13:35] jboz62 commented on #261
That sounds like a good solution, Vivek, we do that with a lot of other pre-populated content on the pages and other places. That combined with the ability to hide the title via the checkbox, like you mentioned, sounds like it would solve this. How much time would this take?

[2016-09-28 13:39] jboz62 commented on #244
Closing this issue as it no longer seems to be a problem. Portfolio can now be moved to whatever position.

[2016-09-28 13:39] #244 closed

[2016-09-28 13:42] jboz62 commented on #256
@vivek-chaudhari Vivek, this is a request from one of the clients, but is also something that should probably be part of the menu function. Can you review this issue and let me know if you can do this and how long it would take? Thanks! John

[2016-09-28 13:47] jboz62 commented on #265
@meetinghouse John, is this still an issue we need to fix or can we close this one? Thanks, John B.

[2016-09-28 13:50] jboz62 commented on #252
Closing this issue as it seems to no longer be a problem. Just tested light and dark theme and was able to move portfolio to position 10 without issue.

[2016-09-28 13:50] #252 closed

[2016-09-28 14:01] jboz62 commented on #240
@meetinghouse John, in the interest of this repository being private, we may want to consider moving to Bitbucket which is the Git for businesses. It will give you a private repo for free for up to 5 users. We can transfer everything from Github over to there, as well: https://www.topdraw.com/blog/moving-from-github-to-bitbucket-why-and-how/

Something to think about as it would be a good idea to

[2016-09-28 14:03] jboz62 commented on #243
This item is completed, closing this issue.

[2016-09-28 14:03] #243 closed

[2016-09-28 14:08] jboz62 commented on #267
Seems there are no issues reported on the new blog setup from Vivek. Closing this issue. Well done, @vivek-chaudhari.

[2016-09-28 14:08] #267 closed

[2016-09-28 14:23] jboz62 opened #276 "LIGHT THEME: Finish Drag and Drop Admin Menu Sort Feature."
@vivek-chaudhari Vivek, we have a drag and drop Admin Menu setup in the admin on **light theme**. It works to a point, but does not include the new sub-menu capability. Can you take a look at that and let us know if you can make that work and give us a time estimate? It should work something like this: https://johnny.github.io/jquery-sortable/ Thanks, John

[2016-09-28 14:28] jboz62 commented on #237
@vivek-chaudhari This is a low priority, but a client has asked about it. Would this be difficult to do? Basically, we'd need the ability to add a link to banners, probably via a text box on the admin banner creation page. It would say something like "add URL/Link for your banner:" and a text box to add it. Thoughts?

[2016-09-29 16:43] vivek-chaudhari commented on #237
@jboz62 This is not so difficult, we can achieve it easily.

[2016-09-29 16:47] jboz62 commented on #237
Ok, thanks, Vivek. Let me see if John C. wants to do that.

[2016-09-29 16:50] vivek-chaudhari commented on #261
@jboz62 It will consume 2-3 hours approx.

[2016-09-29 16:55] jboz62 commented on #261
@vivek-chaudhari Ok, sounds good. Let me clear this work and the other menu sort issue with John C. before we begin. Thanks

[2016-09-29 17:54] jboz62 commented on #261
@vivek-chaudhari Please proceed on this issue, Vivek. Let me know if you have any questions on the setup or need any clarification. Thanks, John

[2016-09-29 17:59] jboz62 commented on #261
@vivek-chaudhari On thing I think we need to change on this, though. Can we make the "Home" page title **editable** instead of **read-only**? I saw one of our sites uses "Welcome" on their site, this would mess that up for them. Maybe what we need to do is pre-populate "Home", but have it be editable so it can be changed if needed. Thoughts?

[2016-10-01 09:56] vivek-chaudhari commented on #261
@jboz62  Now review this please. Added hide title option as checkbox while create/edit page and when we install a fresh copy of CMS and run seeder. System will seeds home page title as 'Home' and it is editable later.

[2016-10-01 15:05] jboz62 commented on #261
Ok, thanks Vivek, I'll take a look. I still can't do a pull request on your last changes. Did you figure out what is wrong?

[2016-10-03 12:36] vivek-chaudhari commented on #256
@jboz62 John, Client needs dropdown in expanded mode when they are on expand menu item, right? I have reviewed this and it will take 1-2 hours approx.

[2016-10-03 15:24] jboz62 commented on #256
Ok, that’s sounds good, Vivek. Please proceed with the changes, but don’t commit anything until I get this Github issue resolved.

Thanks,
John

[2016-10-04 07:14] vivek-chaudhari commented on #256
@jboz62  We have implemented it as part of Light Theme doing on server side, let me know whenever I want to commit it.

[2016-10-04 14:30] jboz62 commented on #256
Ok, thanks Vivek. I’ll take a look.

[2016-10-17 15:54] jboz62 commented on #253
Vivek, did you get a chance to look this over and see if it will work? Thoughts?

[2016-10-17 16:44] vivek-chaudhari commented on #253
I have not get chance to look at it. Tomorrow I will check it out.

[2016-10-18 06:54] vivek-chaudhari commented on #253
@jboz62 this  http://testdeploy.corbettresearchgroup.com/login redirects me to https://restorationtrades.wordpress.com/wp-login.php url. I have added this plugin on my localhost and it allows us to insert token, but issue will arise when we need to replace token with original content when page loads contents. We need to save token value to somewhere.
According to me using token plugin is more bett

[2016-10-19 00:21] jboz62 opened #278 "DARK THEME: Make Homepage Content Area Text Viewable."
@vivek-chaudhari Hi Vivek, we need the ability to add text to the homepage on Dark Theme. Currently, we have a slideshow that appears in the background on the homepage of dark theme, but we'd like to also be able to add text. That capability is disabled now, we're wondering if it's possible to have both the slideshow and text on the same page. I added some code to the main.blade.php file to add so

[2016-10-19 00:31] jboz62 commented on #253
@vivek-chaudhari It seems to be working now, can you clear your cache and try it again?

On the token plugin, you're saying that this plugin works best? http://ckeditor.com/addon/token

After adding the plugin, where is the contact form defined?

If you can give me some idea of what your development plan is and amount of time, we can get John Corbett's approval on this.

[2016-10-19 06:55] vivek-chaudhari commented on #278
@jboz62  yes it is possible. Home page contents are already added from backend, but not displaying on front end. We can easily achieve it. It will take 1-2 hours for me.

[2016-10-19 07:17] vivek-chaudhari commented on #253
@jboz62  Now it working for me. It seems that you have not added token addon on ckeditor yet.
My development plan is.
- Create a new database table for tokens.
- Allow user to add token from backend( user can add, edit or delete token or inactive token). Have token_name=>token_value.
- After adding token, user will place token in content editor.
- whenever content is going to load, system needs to

[2016-10-19 15:20] jboz62 commented on #278
Vivek, will the slideshow still display even with the contents displaying? If so, please proceed to execute this change. Thanks.

[2016-10-19 15:21] jboz62 commented on #253
Thanks, Vivek. Let me review this and discuss with John C.

[2016-10-19 17:45] vivek-chaudhari commented on #278
Yes, slideshow will be display but texts are going to visible on slider. Background have slider and front end will texts.

[2016-10-19 19:34] jboz62 commented on #253
@vivek-chaudhari Is it possible to do a setup like [this](http://wiyono05.blogspot.com/2014/02/create-simple-contact-form-in-laravel-4.html) or [this](http://stackoverflow.com/questions/20395884/contact-form-laravel-4) that would create a basic contact form on the contact page, but still allow for adding additional content on the page? Maybe something like that would work instead of the token idea

[2016-10-20 10:40] vivek-chaudhari commented on #278
@jboz62 Now check this, now whatever content are added in content editor will viewable on home page.

[2016-10-20 10:50] vivek-chaudhari commented on #253
@jboz62  Yes it is possible to develop like this and it will allowed to add any kind of contents. If we don't want to use tokens then we can add on additional plain textarea below content editor which will allow to add any kind of contents. And these additional content will display after editor contents.

[2016-10-21 01:45] jboz62 commented on #262
@vivek-chaudhari Vivek, we have a "read more..." feature on the related projects, [see here](http://klitsas.corbettresearchgroup.com/structural_restoration). We need this to also be on the blog page. Can you look at how that was done and let me know if you can add it to the blog? S+H wants this on their ["Builder's Notebook"](http://shconstruction.com/posts) (blog). Please give me a time estimate

[2016-10-21 01:56] jboz62 commented on #262
@vivek-chaudhari It looks like that code for the "read more" is in: cms/app/views/shared/projects_teasers.blade.php

Hope that helps.

[2016-10-21 02:16] jboz62 commented on #262
@vivek-chaudhari Vivek, here are a couple images to show you what we need:

This is in the post edit/create view:
![blog-post](https://cloud.githubusercontent.com/assets/11739120/19584451/92af0554-9712-11e6-8106-0aa45c6aa0f4.jpg)

The front end blog:
![blog-listing](https://cloud.githubusercontent.com/assets/11739120/19584454/9767d7a6-9712-11e6-98d5-fe5b7a2203fb.jpg)

[2016-10-21 05:21] vivek-chaudhari commented on #262
@jboz62  we can easily achieve this, no need to use css or any other external js library. we can do this in php. I will take 1-1.5 hours to do this.

[2016-10-21 13:14] jboz62 commented on #262
@vivek-chaudhari Yes, those were old notes, we don't need css or js, just in the code base. Please execute this change. Thanks.

[2016-10-21 13:17] vivek-chaudhari commented on #262
@jboz62 I will proceed for changes and give you update soon.

[2016-10-22 06:33] vivek-chaudhari commented on #262
@jboz62 Now please review this.

[2016-10-24 12:53] vivek-chaudhari commented on #276
@jboz62 It will take 4-5 hours to provide sub menu capability, and it will work 1 level only, not more than it.

[2016-10-25 18:18] jboz62 commented on #276
Thanks, Vivek. I didn’t think about if they add a second level, it doesn’t look like you can do a second level anyway. Is that possible if someone requests that feature? Let me check with John to see if he wants to move ahead with this.

[2016-10-29 17:13] jboz62 commented on #262
@vivek-chaudhari I've been out sick, Vivek, still recovering but will begin getting back to work. Sorry for the delay.

[2016-10-30 13:25] vivek-chaudhari commented on #262
@jboz62 It's okay John, Hope you will get well soon.Whenever we need to go on then let me inform.

[2016-11-02 12:11] vivek-chaudhari commented on #276
We can add n-level of menus as we have on wordpress but it needs lot of changes on light theme, need to make database changes, need to make changes on left and top navigation rendering and so on.

[2016-11-07 23:27] jboz62 commented on #276
Hi Vivek,

Sorry for the delay. Can you go ahead and execute this plan? I still need to check the last changes. I’ll get to that soon, very behind after being sick.

Thanks and regards,
John

[2016-11-08 05:10] vivek-chaudhari commented on #276
@jboz62 Okay.

[2016-11-08 13:26] vivek-chaudhari commented on #276
@jboz62 Please review it. It works fine till this level http://www.awesomescreenshot.com/image/1807036/a1ae802599ac1f30f6de09563f4218f6 . I have tried to support n-level but it cause issue while saving. I will check it later if we need to go ahead.

[2016-11-10 11:32] vivek-chaudhari commented on #276
@jboz62 should we provide n-level of navigation, I have tried on my localhost and seems to save proper data on database? Now only displaying menus items in it's order is left.

[2016-11-10 14:16] jboz62 commented on #276
Hi Vivek, it looks like you have 4.5 hours in, how much additional time will it take to do the n-level display?

[2016-11-10 15:35] jboz62 commented on #262
@vivek-chaudhari Vivek, the "read more" looks good, but it's in the wrong place. Please review the screenshot below for the proper placement and revise. Thank you.
![9767d7a6-9712-11e6-98d5-fe5b7a2203fb](https://cloud.githubusercontent.com/assets/11739120/20182505/fb8adc2e-a72f-11e6-9528-3e7c7d406dc5.jpg)
![read-more2](https://cloud.githubusercontent.com/assets/11739120/20182888/54f14eb4-a731-11e6

[2016-11-10 16:15] vivek-chaudhari commented on #276
@jboz62 It will take 2-3.5 hours more to display it. I have worked offline for providing this to you.

[2016-11-10 16:17] vivek-chaudhari commented on #262
@jboz62 Okay john I can do this.

[2016-11-10 16:32] jboz62 commented on #276
Ok, that’s sounds fine, please proceed.

[2016-11-10 16:40] vivek-chaudhari commented on #276
@jboz62 Okay..

[2016-11-11 13:19] vivek-chaudhari commented on #276
@jboz62 Now review it. Now you can add n-level navigations for light theme.

[2016-11-11 13:20] vivek-chaudhari commented on #262
@jboz62 Now review this.

[2017-01-06 19:44] jboz62 commented on #276
@vivek-chaudhari Hello Vivek, I'm seeing an issue with the menu setup on the light theme. When I turn off a menu item (uncheck the "Make this page a menu item" checkbox) it doesn't remove the item from the menu and the menu item goes to the first position (0). Can you take a look at that? I have it running on http://demotest.corbettresearchgroup.com/ Thanks - John

[2017-01-07 05:30] vivek-chaudhari commented on #276
@jboz62 Okay John I am looking on this issue.

[2017-01-07 05:45] vivek-chaudhari commented on #276
@jboz62 Now review this. whenever we unchecked this checkbox then menu_name goes to blank and it's menu order will be 0. Now we have resolved this.

[2017-02-21 16:30] jboz62 commented on #216
@vivek-chaudhari Hello Vivek, I thought I already added this to the repo, but it doesn't seem to be in there. Can you add this and do a pull request, please? Thanks!

[2017-02-21 17:27] vivek-chaudhari commented on #216
@jboz62 Okay John I will look at it and let's what is actual causing this issue.

[2017-02-21 18:00] jboz62 commented on #216
This only happens in Internet Explorer because of the way it reads the CSS. You just need to make the CSS more specific so it isn’t overridden, that fixes it.

[2017-02-24 16:37] vivek-chaudhari commented on #216
@jboz62 Can you please review it? I had added css for ie.

[2017-02-24 16:39] jboz62 commented on #216
Thanks Vivek, I’ll check that out.

[2017-03-02 01:17] jboz62 commented on #136
@vivek-chaudhari Vivek, do you know how we can add this functionality to the image upload? Something like what WordPress does when you upload an image it resizes it with different sizes for thumbnail, small, medium, actual size. Is there a way to do this, maybe a module we can add? Looking around for ideas. Thanks, -John

[2017-03-02 03:59] jboz62 commented on #136
@vivek-chaudhari This might be what we need: http://www.phpgang.com/image-upload-and-resize-using-image-intervention-in-laravel_889.html

This looks interesting too: http://www.camroncade.com/dealing-with-image-uploads-laravel/

[2017-03-02 05:18] vivek-chaudhari commented on #136
@jboz62 Yes I can do this. Even I had make use of this image intervention library for cropping purpose in laravel.

[2017-03-02 17:27] jboz62 commented on #136
@vivek-chaudhari That sounds good, Vivek, but we don’t want to crop, we need to resize. It would be the same image, just at different sizes, like WordPress does.

[2017-03-02 17:28] jboz62 commented on #136
@vivek-chaudhari Any idea how much time this might take to do?

[2017-03-02 17:44] vivek-chaudhari commented on #136
@jboz62 But this doesn't mean that images put on editor will be resized automatically, we need to think about it how we can resize images which are directly put on content editor.
Using given solution images which will be uploaded using upload option can be resized and doing this one will take almost 6-8 hours.

[2017-03-02 17:51] jboz62 commented on #136
@vivek-chaudhari From what I'm reading in that documentation, is looks like you can set the size and it will resize when you upload the image. Here's the code snippet on that:

`Route::post('/upload', function(){

	if (Input::hasFile('avatar'))
	{
	    $file = Input::file('avatar');
	    $file->move('uploads', $file->getClientOriginalName());

	    $image = Image::make(sprintf('uploads/%s', $file-

[2017-03-02 17:52] jboz62 commented on #136
@vivek-chaudhari More on that: http://image.intervention.io/api/resize

[2017-03-02 17:53] vivek-chaudhari commented on #136
@jboz62 This is possible but I am talking about images which are we put on wysing content editor when we create a post or a page.

[2017-03-02 17:58] vivek-chaudhari commented on #136
@jboz62 Also what could be possible image size, we need to make single image or multiple images of different sizes of single image?

[2017-04-12 13:46] #278 closed

[2017-04-12 13:46] #276 closed

[2017-04-12 13:47] #275 closed

[2017-04-12 13:48] jboz62 commented on #261
Setup is working.

[2017-04-12 13:48] #261 closed

[2017-04-12 13:49] jboz62 commented on #262
Finished.

[2017-04-12 13:49] #262 closed

[2017-04-12 13:49] jboz62 commented on #256
Done.

[2017-04-12 13:49] #256 closed

[2017-04-12 13:55] jboz62 commented on #240
@vivek-chaudhari Vivek, can this repo be moved to Bitbucket with all of the data? It looks like Forge works with Bitbucket, but we'd have to delete the Github connection and reconnect with Bitbucket. Thoughts?

[2017-04-12 13:56] jboz62 commented on #235
This is now an option in the new CKEditor. Done.

[2017-04-12 13:56] #235 closed

[2017-04-12 13:57] jboz62 commented on #222
This has been fixed.

[2017-04-12 13:57] #222 closed

[2017-04-12 14:04] jboz62 opened #309 "Portfolio Admin Setting textbox clearing on deploy."
@vivek-chaudhari Vivek, on the Admin Settings on dark theme (and probably light theme), the "portfolio" text box is getting cleared when I do a deploy. This, of course, removes it from the menu.

This could also be happening on the "blog" settings, but I haven't seen it happen.

Please look into that.

Thank you,
John

[2017-04-12 14:11] #219 closed

[2017-04-12 14:11] jboz62 commented on #216
Fixed.

[2017-04-12 14:11] #216 closed

[2017-04-12 14:12] jboz62 commented on #213
Fixed.

[2017-04-12 14:12] #213 closed

[2017-04-12 14:14] jboz62 commented on #208
Fixed.

[2017-04-12 14:14] #208 closed

[2017-04-12 14:16] jboz62 commented on #196
@meetinghouse Is this still an issue, John C.?

[2017-04-12 14:17] jboz62 commented on #147
This has been added to the Admin Settings.

[2017-04-12 14:17] #147 closed

[2017-04-12 14:22] jboz62 commented on #136
@vivek-chaudhari Vivek, we added this feature, right? If so, please close issue. Thank you.

[2017-04-12 15:45] jboz62 commented on #206
This has been added to the new CKEditor, fixed.

[2017-04-12 15:45] #206 closed

[2017-04-13 02:30] jboz62 opened #310 "Dark Theme: Add "active"/"not-active" classes to /projects/tags and /posts/tags sub-menu items."
@vivek-chaudhari When you click on a sub-menu item for projects (portfolios) or blog and the page loads, there is no "active" class on the active menu item. Can you add the active/not-active classes functionality to those sub-menus on dark theme like it is on the main menu?

You can see the projects sub-items on Steve's site here: http://revrbacoustics.corbettresearchgroup.com/projects/tags/Bars

[2017-04-13 04:22] jboz62 commented on #310
@vivek-chaudhari Vivek, did you fix this already? I just did a deploy on REVRB and it didn't clear the settings for "portfolio" (projects). Not sure why it did before, maybe just review to be sure everything is okay. Thanks!

[2017-04-17 05:23] vivek-chaudhari commented on #309
@jboz62 Should I start looking on this issue?

[2017-04-17 13:32] jboz62 commented on #309
@vivek-chaudhari Vivek, I'm not sure if it's actually an issue. I deployed again and it didn't happen.

However, There is a different issue and that is that if you delete the name you put in the text box in the admin settings, the menu item doesn't display at all. It should always display as "portfolio" unless the user changes it to something else, like "projects". Please see what's going on there

[2017-04-17 16:58] vivek-chaudhari commented on #310
@jboz62 Yes john we fixed it already but don't know why it is not working now.

[2017-04-18 13:13] vivek-chaudhari commented on #310
@jboz62 Now can you please review this? Try to pull it from vivek-work branch.

[2017-04-18 13:13] vivek-chaudhari commented on #309
@jboz62 Now can you please review this? Try to pull it from vivek-work branch.

[2018-11-01 20:11] #310 closed